<h1>Your Beacons</h1>

<style>
  #map {
    height: 600px;
  }
</style>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="beacon-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#map-tab" aria-controls="map-tab" role="tab" data-toggle="tab">Map</a></li>
  <li role="presentation"><a href="#list-tab" aria-controls="list-tab" role="tab" data-toggle="tab">List</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="map-tab">
    <div id="map"></div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="list-tab">
    <table class="table">
      <tr>
        <th>Serial</th>
        <th>Signal</th>
        <th>Ping</th>
        <th>Up</th>
        <th>Down</th>
        <th colspan="2"></th>
      </tr>

      <% @beacons.each do |beacon| %>
        <tr id="beacon-<%= beacon.id %>">
          <td class="serial"><%= beacon.serial %></td>
          <td class="signal-strength"><span class="badge"><%= beacon.signal_strength.nil? ? '?' : beacon.signal_strength %></span></td>
          <td class="ping"><span class="badge"><%= beacon.ping.nil? ? '?' : beacon.ping %></span></td>
          <td class="up"><span class="badge"><%= beacon.up.nil? ? '?' : beacon.up %></span></td>
          <td class="down"><span class="badge"><%= beacon.down.nil? ? '?' : beacon.down %></span></td>
          <td><%= link_to 'Edit', edit_beacon_path(beacon) %></td>
          <td><%= link_to 'Destroy', beacon_path(beacon), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script type="text/javascript">

  function update() {
    $.ajax({
      url: '/api/beacons/1',
      type: 'GET'
    }).done(function (msg) {
      $('#beacon-1').find('.ping').find('.badge')[0].innerHTML = msg.ping;
      $('#beacon-1').find('.ping').find('.badge')[0].innerHTML = msg.down;
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    window.setInterval(update, 5000);
  });

  // Enable Bootstrap tabs
  $('#beacon-tabs').find('> a').click(function (e) {
    e.preventDefault();
    $(this).tab('show')
  });

  var map;
  var infoWindow;

  function addMarker() {
    var data = {
      "serial": "1234",
      "details": "Alex's",
      "channel": null,
      "ip": "1234",
      "mac": "1234"
    };

    $.ajax({
      url: '/api/beacons',
      type: 'POST',
      data: data,
      success: function (data, textStatus, jqXHR) {
        console.log("success");
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log("failure");
      }

    });
  }

  function pullMarkers() {
    $.ajax({
      url: '/api/beacons',
      type: 'GET'
    }).done(function (msg) {
      //untested

      for (var i = 0; i < msg.length; i++) {
        createMarker(msg[i]);
      }
    });

  }

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 29.0358, lng: -81.2999},
      zoom: 17
    });

    pullMarkers();
  }

  function createWindow(idNum, serial, details, channel, ip, mac, sigStrg, visNet, ping, up, down, updateTime) {
    var contentString = '<div id="content">' +
        '<div id="siteNotice"></div>' +
        '<h2 id="firstHeading" class="firstHeading">Node ' + idNum + '</h2>' +
        '<div id="bodyContent">' +
        '<h5> Serial: ' + serial + ' </h5>' +
        '<h5> Details: ' + details + ' </h5>' +
        '<h5> Channel: ' + channel + ' </h5>' +
        '<h5> IP address: ' + ip + ' </h5>' +
        '<h5> Mac Address: ' + mac + ' </h5>' +
        '<h5> signal Strength: ' + sigStrg + ' </h5>' +
        '<h5> visual Networks: ' + visNet + ' </h5>' +
        '<h5> Ping Latency: ' + ping + ' </h5>' +
        '<h5> upload: ' + up + ' </h5>' +
        '<h5> download: ' + down + '</h5>' +
        '<h5> update Time: ' + updateTime + ' </h5>' +
        '</div></div>';

    infoWindow = new google.maps.InfoWindow({
      content: contentString
    });
  }

  function createMarker(dataArray) {
    var marker = new google.maps.Marker({
      position: {lat: 29.0358 + Math.random() * 0.001, lng: -81.2999 + Math.random() * 0.001},
      map: map,
      title: 'Hello World!'
    });
    marker.addListener('click', function () {

      var dataArray = {
        "id": 1,
        "serial": "1234",
        "details": "Alex's",
        "gps": null,
        "channel": null,
        "ip": "1234",
        "mac": "1234",
        "signal_strength": null,
        "visible_networks": null,
        "ping": null,
        "up": null,
        "down": null,
        "created_at": "2016-03-05T15:48:42.712Z",
        "updated_at": "2016-03-05T19:50:57.371Z"
      };

      createWindow(dataArray["id"], dataArray["serial"], dataArray["details"], dataArray["channel"], dataArray["ip"], dataArray["mac"], dataArray["signal_strength"], dataArray["visible_networks"], dataArray["ping"], dataArray["up"], dataArray["down"], dataArray["updated_at"]);
      infoWindow.open(map, marker);
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZ_mEUWjFjtN2vOzLEXjiX5JH1TTZOdoQ&callback=initMap" async defer></script>
