<h1>New Beacon</h1>

<%= form_for :beacon, url: beacons_path,
             html_options_for_form: {:class => 'form-group',
                                     :id => 'addNodeForm'} do |f| %>

  <div class="form-group">
    <label id="serial">
      <%= :serial.upcase %>
      <%= f.text_field :serial, {:class => 'form-control',
                                 :placeholder => '3653-6556-1937-3493'} %>
    </label>
  </div>

  <br>

  <div class="form-group">
    <label id="details">
      <%= :details.upcase %>
      <%= f.text_field :details, {:class => 'form-control',
                                  :placeholder => 'Elizabeth Hall, Room 205'} %>
    </label>
  </div>

  <br>

  <div class="form-group">
    <label id="channel">
      <%= :channel.upcase %>
      <%= f.select :channel, %w(b/g/n a/h/j/n/ac), {}, {:class => 'form-control'} %>
    </label>
  </div>

  <br>

  <div class="form-group">
    <label id="mac">
      <%= :mac.upcase %>
      <%= f.text_field :mac, {:class => 'form-control',
                              :placeholder => 'D3 49 34 23 E9 C1'} %>
    </label>
  </div>

  <br>

  <div class="form-group">
    <label id="ip">
      <%= :ip.upcase %>
      <%= f.text_field :ip, {:class => 'form-control',
                             :placeholder => '147.253.70.5'} %>
    </label>
  </div>

  <br>

  <div class="form-group">
    <label id="urls">
      <%= :urls.upcase %>
      <%= f.text_area :urls, {:class => 'form-control',
                              :placeholder => 'www.xkcd.com, news.ycombinator.com'} %>
    </label>
  </div>

  <br>

  <div class="input-group">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>

<% end %>
