<h1>Beacon <code><%= @beacon.serial %></code> <small><%= link_to 'Edit', edit_beacon_path(@beacon) %></small></h1>

<table class="table">
  <tr>
    <th>Details</th>
    <th>Channel</th>
    <th>IP</th>
    <th>MAC</th>
    <th>Signal</th>
    <th>Ping</th>
    <th>Up</th>
    <th>Down</th>
  </tr>
  <tr>
    <td><%= @beacon.details %></td>
    <td><span class="badge"><%= @beacon.channel.nil? ? '?' : @beacon.channel %></span></td>
    <td><code><%= @beacon.ip %></code></td>
    <td><code><%= @beacon.mac %></code></td>
    <td><span class="badge"><%= @beacon.signal_strength.nil? ? '?' : @beacon.signal_strength %></span></td>
    <td><span class="badge"><%= @beacon.ping.nil? ? '?' : @beacon.ping %></span></td>
    <td><span class="badge"><%= @beacon.up.nil? ? '?' : @beacon.up %></span></td>
    <td><span class="badge"><%= @beacon.down.nil? ? '?' : @beacon.down %></span></td>
  </tr>

</table>

<% unless @beacon.gps.nil? %>
  <h4>Location</h4>

  <p><%= @beacon.gps %></p>
<% end %>

<% unless @beacon.visible_networks.nil? %>
  <h4>Other Visible Networks</h4>

  <p><%= @beacon.visible_networks %></p>

<% end %>

<h4>URLs</h4>

<% if @beacon.urls? %>

  <ul>
    <% @beacon.urls.split(',').each do |url| %>
      <li><code><%= url %></code></li>
    <% end %>
  </ul>

<% else %>

  <%= link_to 'Add some', edit_beacon_path(@beacon), :class => 'btn btn-primary' %>

<% end %>
